html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  padding: 30px 0 40px;
  word-wrap: break-word;
}

@media print {
  body {
    font-size: 12px;
  }
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

h1 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
  padding-bottom: 5px;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 1.5em;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  color: #777;
  font-size: 0.85em;
}

p {
  margin-bottom: 10px;
  margin-top: 0;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  margin: 0;
  padding: 0 16px;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 16px;
  margin-top: 0;
  padding-left: 32px;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

li>p {
  margin-top: 16px;
}

li+li {
  margin-top: 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  width: 100% !important;
}

table th {
  font-weight: bold;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

img {
  max-width: 100%;
}

ul:first-of-type {
  list-style: none;
}

ul:first-of-type {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul:first-of-type li {
  display: inline-block;
}

ul:first-of-type li:not(:last-child):after {
  content: ' • ';
  padding: 0 6px;
}
